.game-array>div>a>img:hover {
    opacity: 0.5;
}

.game-array>div {
    border-radius: 5px;
    margin: 0;
    z-index: 1;
    display: flex;
    height: 100px;
    width: 100px;
    background-image: linear-gradient(#a3a3a3, #000000);
}

.game-box {
    max-width: 90%;
    background-color: dimgrey;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    box-shadow: 0px 0px 7px #f2ff00;
    flex-direction: column;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-box {
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-height: 5px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.gam-desc {
    z-index: 2;
    color: white;
    text-align: center;
    transform: translate(0px, 39px);
}

.game-array {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    columns: 100 100px;
    gap: 20px;
}

.game-array a {
    text-decoration: none;
    display: inline-block;
}

.game-array>div>a>img {
    position: absolute;
    transform: translate(-5px, -5px);
    z-index: 0;
    height: 100px;
    opacity: 0.7;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 0px 3px #f2ff00;
    transition: opacity 0.1s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}


a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 95, 232);
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: rgb(15, 62, 194);
}

body {
    margin: 0 auto;
    padding: 0;
}

.menubar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #515151;
    outline: 2px solid #3e3e3e;
    width: 100%;
    height: 40px;
    gap: 2px;
}

.home {
    text-decoration: none;
    height: 40px;
}

.panic-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11px;
    font-size: 6px;
    background-color: #969696;
    border: none;
    width: min(45dvw, 108px);
    outline: 1px solid #313131;
    border-radius: 2px;
    transition: background-color 0.1s ease-in, height 0.1s ease-in, color 0.1s ease-out;
}

.panic-button:hover {
    background-color: #5ad12f;
    height: 13px;
}

.panic-input {
    width: min(40dvw, 100px);
    height: 8px;
    font-size: 7px;
}

.pfc {
    right: 100px;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #2f2f2f;
    right: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-bubble {
    background-color: #0000005b;
    position: absolute;
    border-radius: 2px;
    padding: 5px;
    outline: 2px solid #323232;
    transition: opacity 0.1s ease-in, bottom 0.1s ease-out;
    opacity: 0;
    backdrop-filter: blur(10px);
    bottom: -1px;
}

.pfc:hover~.profile-hover {
    backdrop-filter: blur(10px);
    opacity: 1;
    bottom: 18px;
}

.home:hover~.home-hover {
    backdrop-filter: blur(10px);
    opacity: 1;
    bottom: 18px;
}

.pfc:hover~.profile-hover-2 {
    backdrop-filter: blur(10px);
    opacity: 1;
    bottom: 8px;
}

.home:hover~.home-hover-2 {
    backdrop-filter: blur(10px);
    opacity: 1;
    bottom: 8px;
}